.speedcontrol-loading-overlay {
  position: relative;
  display: none;
  height: 50vh;

  &.display-loading-icon {
    display: block;

    > i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
    }
  }
}
