.speedcontrol-tabular-data {
    display: flex;
    flex-flow: column nowrap;

    &-item {
        display: flex;
        flex-flow: row nowrap;

        &:nth-of-type(odd) {
            background-color: $white;
        }
    }

    &-name {
        flex: 1 0 0;
        padding: 2px 4px;
        font-weight: 500;
    }

    &-value {
        flex: 1.5 0 0;
        padding: 2px 8px;
    }
}
