.speedcontrol-file-select-upload {

    > label {
        display: block;
        margin-bottom: 0;

        > input[type="file"] {
            display: none;
        }
    }

    .file-upload-selector {
        display: flex;
        cursor: pointer;

        .selected-file {
            flex: 1 1 auto;
            display: inline-block;
            margin-left: 15px;
            padding: 0 5px;
            font-weight: normal;
            font-size: 0.9rem;
            border-bottom: 1px solid $medium-gray;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

    }

}
